<script>
  new Ajax.PeriodicalUpdater('devices', '/devices', {method: 'GET', frequency: 15, decay: 1, parameters:{ajax: 1}});  
</script>

<div style='float:left;'>                                                            
  <%= image_tag('logo.png') %>
</div>

 <div style='padding-right: 46px; padding-top: 30px; float:right'>
  <table>
    <td><%= link_to image_tag('home.png', :border =>0, :title => 'Домой'), devices_path %> </td>
    <td><%= link_to image_tag('find.png', :border =>0, :title => 'Поиск'), devices_path %> </td>
    <td><%= link_to image_tag('settings.png',:border =>0, :title => 'Настройки'), devices_path %> </td>
  </table>
 </div>
<hr>
<div class="clear"></div>

<div class="container_12"> 
 <h3>Список контролируемых устройств</h3> 

 <div id='devices'>
   <%= render :partial => 'devices', :locals => {:devices => @devices}%>
 </div>
</div>

