<table>
  <tr>
     <td style='padding-right:15px;'><b> Имя устройства  </b> </td>
     <td style='padding-right:15px;'><b> Дата получения пакета  </b> </td>
     <td><b> Статус</b></td>
   </tr>
   
<% @devices.each do |device| %>
  <tr>
    <td><%=h device.device_code %></td>
    <td><%=h device.created_at.strftime('%d %B %Y %a %H:%M') %></td>
    <td><%= link_to image_tag(device.device_status + '.png', :border => 0, :title => 'Редактировать статус'), edit_device_path(device) %></td>
    <td><%= link_to image_tag('more.png', :border => 0, :title => 'Подробнее'), device %></td>
    <td><%= link_to image_tag('del.png', :border => 0, :title => 'Удалить из базы'), device, :confirm => 'Вы уверенны?', :method => :delete %></td>
  </tr>
<% end %>

</table>
