<script> 
  new Ajax.PeriodicalUpdater('device','/devices/'+<%= @device.id %>, {method: 'GET', frequency: 15, decay: 1,parameters:{ajax: 1}});
</script>

<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script type='text/javascript'> 

  var viz_data =  null;
  var chart_object =  null;
  var chart_options = {
    width: 400, 
    height: 120, 
    max: 50,
    greenFrom: 0,
    greenTo: 20, 
    redFrom: 31, 
    redTo: 50, 
    yellowFrom:21, 
    yellowTo: 30, 
    minorTicks: 5
  };

  function drawChart() 
  {
    chart_object.draw(viz_data, chart_options);
  } 

  function updateTemperature()
  {
    viz_data.setValue(0, 1, Math.floor(Math.random()*30) );
    drawChart();  
  }

  google.load('visualization', '1', {packages:['gauge']});
  google.setOnLoadCallback(function(){ 
    var d = viz_data = new google.visualization.DataTable();
    d.addColumn('string', 'Label');
    d.addColumn('number', 'Value');
    d.addRows(1);
    d.setValue(0, 0, 'Temperature');
    d.setValue(0, 1, <%= @report['temperature'] %>);
    chart_object = new google.visualization.Gauge(document.getElementById('chart_div'));
    drawChart();
    setInterval( updateTemperature, 1000);
  });

</script> 

<div>

 <div style='float:left;'>
  <%= image_tag('logo.png') %>
 </div>

 <div style='padding-right: 46px; padding-top: 60px; float:right'>
  <table>
    <td><%= link_to image_tag('home.png', :border =>0, :title => 'Домой'), devices_path %> </td>
    <td><%= link_to image_tag('find.png', :border =>0, :title => 'Поиск'), devices_path %> </td>
    <td><%= link_to image_tag('settings.png',:border =>0, :title => 'Настройки'), devices_path %> </td>
  </table>
 </div>

</div>
<hr>
<div class="clear"></div>

<div class="container_12">
   <h3>Устройство № <%= h @device.device_code %> </h3>

   <div class='grid_7' >
   <%= GMap.header %>
   <%= @map.to_html %>
   <%= @map.div(:width => 500, :height => 300) %>
   </div>

   <div class='grid_5' style='text-align: center; border: 1px solid grey;'>
     <b>Параметры датчиков</b>                                      
     <div id='chart_div'> </div>
   </div>

   <div class="clear"></div>

   <div id='device' >
   <table>
    <tr>
     <td style='padding-right:15px;'><b> ID_записи  </b> </td>
     <td style='padding-right:15px;'><b> ID_репорта </b></td>
     <td style='padding-right:15px;'><b> Параметр   </b></td>
     <td style='padding-right:15px;'><b> Значение  </b> </td>
     <td style='padding-right:15px;'><b> Дата создания  </b> </td>
   </tr> 
   <% @fields.each do |f| %>
   <tr>
     <td><%= h f.id %>   </td>
     <td><%= h f.report_id %>   </td>
     <td><%= h f.key %>   </td>
     <td><%= h f.value %>   </td>
     <td><%= h f.created_at.strftime('%d %B %Y %a %H:%M') %>   </td>
   </tr>
   <% end %>
   </table>
   </div>
</div>
<%= link_to image_tag('back.png', :border =>0, :title => 'Назад'), devices_path %>
