<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script type='text/javascript'>


  var device_id = <%= @device.id %>;
  var last_physical_report = <%= @last_report.physical_fields_hash.to_json %>;
  var viz_data =  null;
  var chart_object =  null;
  var chart_options = {
    width: 400, height: 360,
    max: 50,
    greenFrom: 0, greenTo: 20,
    redFrom: 31, redTo: 50,
    yellowFrom:21, yellowTo: 30,
    minorTicks: 5
  };

  function drawChart(data)
  {
    chart_object.draw(data, chart_options);
  }

 function requestLastReport()
  {
    new Ajax.Request('/devices/'+device_id+'/reports/last.json', {
      method: 'GET',
      onSuccess: function(transport){
        var result = transport.responseJSON;
        updateLastReport(result);
                                     } });
  }

  function updateLastReport(data)
{
    var i = 0;                                                                        
    for(key in data)                                                  
         {
          viz_data.setValue(i, 1, data[key]);                                    
          i++;                                                                            
         }    
    drawChart(viz_data); 
  }

  function initializeUpdater()
  {
    new Ajax.PeriodicalUpdater('device','/devices/'+device_id+'/reports/last', {
      method: 'GET',
      frequency: 10,
      decay: 1,
      parameters: {
        ajax: 1
      }
    });
    setInterval( requestLastReport, 8000);
  }

  google.load('visualization', '1', {packages:['gauge']});
 
  google.setOnLoadCallback(function(){
    var d = viz_data = new google.visualization.DataTable();
    d.addColumn('string', 'Label');
    d.addColumn('number', 'Value');
    for(key in last_physical_report)
    {
      d.addRow([key, last_physical_report[key]]);
    }
    chart_object = new google.visualization.Gauge(document.getElementById('chart_div'));
    drawChart(d);
    initializeUpdater();
  });

</script>

<div class="container_12">
  <div class='grig_12' style='vertical-align: bottom;'>
    <h3>  
  <%= image_tag (@device.device_type + '.png') %> 
  Устройство № <%= h @device.device_code %> </h3>
  </div>

   <div class='grid_7' >
   <%= GMap.header %>
   <%= @map.to_html %>
   <%= @map.div(:width => 500, :height => 300) %>
   </div>

   <div class='grid_5' style='text-align: center; border: 1px solid grey;'>
     <b>Параметры датчиков</b>                                     
     <div id='chart_div'> </div>
   </div>

   <div class="clear"></div>

   <div id='device' >
   <%= @fields.reject!{|f| !((f.key.include? 'addr') or (f.key.include? 'ADuC')) } %>
   <%= render :partial => 'reports/fields', :locals => {:fields => @fields }, :layout => false %>
   </div>
</div>
