<!script type='text/javascript' src='http://www.google.com/jsapi'><!/script>
<script src="base.js" type="text/javascript" charset="utf-8"></script> 


<script type='text/javascript'>

  goog.require('goog.ui.Gauge');
  var CustomGaugeTheme = function() {
        }
 
    CustomGaugeTheme.prototype.getInternalBorderFill = function(cx, cy, r) {
            return new goog.graphics.SolidFill("#8080ff");
                }
 
    CustomGaugeTheme.prototype.getExternalBorderFill = function(cx, cy, r) {
            return new goog.graphics.SolidFill("#8080c0");
                }
 
    CustomGaugeTheme.prototype.getInternalBorderStroke = function() {
            return new goog.graphics.Stroke(2, "#ffff00");
                }
 
    CustomGaugeTheme.prototype.getMajorTickStroke = function() {
            return new goog.graphics.Stroke(2, "#ffffff");
                }
 
    CustomGaugeTheme.prototype.getHingeStroke = function() {
            return new goog.graphics.Stroke(1, "#00a000");
                }
 
    CustomGaugeTheme.prototype.getHingeFill = function(cx, cy, r) {
            return new goog.graphics.SolidFill("#00c000");
                }
 
    CustomGaugeTheme.prototype.getNeedleStroke = function() {
            return new goog.graphics.Stroke(1, "#008040");
                }
 
    CustomGaugeTheme.prototype.getNeedleFill = function(cx, cy, r) {
            return new goog.graphics.SolidFill("#008040", 0.7);
                }
 
 
    var iGauge;
     
        function drawGauge(key, val) {
           
          iGauge = new goog.ui.Gauge(125, 125);
          if (key.search('U_mV')>-1)
          {
            iGauge.setMaximum(5000);
            iGauge.addBackgroundColor(2500, 4500, goog.ui.Gauge.GREEN);  
            iGauge.addBackgroundColor(4600, 4800, goog.ui.Gauge.YELLOW);
            iGauge.addBackgroundColor(4800, 5000, goog.ui.Gauge.RED);
            iGauge.addBackgroundColor(0, 800, goog.ui.Gauge.RED);
          }
          else
          {
            iGauge.setMaximum(100);
            iGauge.addBackgroundColor(0, 30, goog.ui.Gauge.GREEN);  
            iGauge.addBackgroundColor(75, 90, goog.ui.Gauge.YELLOW);
            iGauge.addBackgroundColor(90, 100, goog.ui.Gauge.RED);  
          }
          iGauge.setTitleTop(key);
          iGauge.setTicks(5, 4);
          iGauge.setMajorTickLabels(['Low', '20%', '40%', '60%', '80%', 'High']);
          iGauge.setValue(val, val);
          iGauge.render(document.getElementById('gauges'));
                                                                 
        }

        function drawGauges(ms) {
          for(key in ms)             
          {                                            
           drawGauge(key, ms[key]);
          }                                            
        }


  var device_id = <%= @device.id %>;
  var last_physical_report = <%= @last_report.physical_fields_hash.to_json %>;

 function requestLastReport()
  {
    new Ajax.Request('/devices/'+device_id+'/reports/last.json', {
      method: 'GET',
      onSuccess: function(transport){
        var result = transport.responseJSON;
        updateLastReport(result);
                                     } });
  }

  function updateLastReport(data)
{
 
    document.getElementById('gauges').innerHTML = '';
    drawGauges(data);                     
                                                             
  }

  function initializeUpdater()
  {
    new Ajax.PeriodicalUpdater('device','/devices/'+device_id+'/reports/last', {
      method: 'GET',
      frequency: 10,
      decay: 1,
      parameters: {
        ajax: 1
      }
    });
    setInterval( requestLastReport, 8000);
  }

   Event.observe(window, 'load', function(){
    initializeUpdater();
    drawGauges(last_physical_report);
   });

</script>

  <div class='grig_12' style='vertical-align: bottom;'>
    <h3>  
  <%= image_tag (@device.device_type + '.png') %> 
  Устройство № <%= h @device.device_code %> </h3>
  </div>

   <div class='grid_7' >
    <%= GMap.header %>
    <%= @map.to_html %>
    <%= @map.div(:width => 500, :height => 300) %>
    <div id='device' >                                                                             
     <%= @fields.reject!{|f| !((f.key.include? 'addr') or (f.key.include? 'ADuC')) } %>             
     <%= render :partial => 'reports/fields', :locals => {:fields => @fields }, :layout => false %> 
   </div>                                                                                                           
   </div>

   <div class='grid_5' style='text-align: center; border: 1px solid grey;' onclick="window.location='<%= url_for :action => :index, :controller => 'reports', :id => @device.id %>'" >
  <div class='gauges-container'>         
   <b>Параметры датчиков</b>            
   <div id='gauges' class='gauges' ></div>
   <p class='cl'/>                        
  </div> 
   </div>

   <style>
     .gauges-container {
       border: 1px solid grey;
       text-align: center;
     }

     .gauges .goog-gauge {
       float:left;
     }

     .cl {
       clear: both;
       height: 0px;
       line-height: 0px;
       width: 300px;
     }
   </style>
