<script> 
  new Ajax.PeriodicalUpdater('device','/devices/'+<%= @device.id %>, {method: 'GET', frequency: 15, decay: 1,parameters:{ajax: 1}});
</script>

<div>
  <%= image_tag('logo.png') %>
  <hr>
</div>

<h1>Устройство № <%= h @device.device_code %> </h1>

<%= GMap.header %>
<%= @map.to_html %>
<%= @map.div(:width => 700, :height => 500) %>

<div id='device'>
<table>
  <tr>
    <td><b> ID_записи  </b> </td>
    <td><b> ID_репорта </b> </td>
    <td><b> Параметр   </b></td>
    <td><b> Значение  </b> </td>
    <td><b> Дата создания  </b> </td>
  </tr> 
<% @report.each do |report| %>
  <tr>
    <td><%= h report.id %>   </td>
    <td><%= h report.report_id %>   </td>
    <td><%= h report.key %>   </td>
    <td><%= h report.value %>   </td>
    <td><%= h report.created_at %>   </td>
  </tr>
<% end %>
</table>
</div>
<%= link_to image_tag('back.png', :border =>0, :title => 'Назад'), devices_path %>
