<script type='text/javascript' src='http://www.google.com/jsapi'></script>

<script type='text/javascript'>

  goog.require('goog.ui.Gauge');
  var CustomGaugeTheme = function() {
        }
 
    CustomGaugeTheme.prototype.getInternalBorderFill = function(cx, cy, r) {
            return new goog.graphics.SolidFill("#8080ff");
                }
 
    CustomGaugeTheme.prototype.getExternalBorderFill = function(cx, cy, r) {
            return new goog.graphics.SolidFill("#8080c0");
                }
 
    CustomGaugeTheme.prototype.getInternalBorderStroke = function() {
            return new goog.graphics.Stroke(2, "#ffff00");
                }
 
    CustomGaugeTheme.prototype.getMajorTickStroke = function() {
            return new goog.graphics.Stroke(2, "#ffffff");
                }
 
    CustomGaugeTheme.prototype.getHingeStroke = function() {
            return new goog.graphics.Stroke(1, "#00a000");
                }
 
    CustomGaugeTheme.prototype.getHingeFill = function(cx, cy, r) {
            return new goog.graphics.SolidFill("#00c000");
                }
 
    CustomGaugeTheme.prototype.getNeedleStroke = function() {
            return new goog.graphics.Stroke(1, "#008040");
                }
 
    CustomGaugeTheme.prototype.getNeedleFill = function(cx, cy, r) {
            return new goog.graphics.SolidFill("#008040", 0.7);
                }
 
 
    var interactiveGauge;
     
        function drawGauge(key, val) {
           
          interactiveGauge = new goog.ui.Gauge(135, 135);
          if (key.search('U_mV')>-1)
          {
            interactiveGauge.setMaximum(5000);
            interactiveGauge.addBackgroundColor(2500, 4500, goog.ui.Gauge.GREEN);  
            interactiveGauge.addBackgroundColor(4600, 4800, goog.ui.Gauge.YELLOW);
            interactiveGauge.addBackgroundColor(4800, 5000, goog.ui.Gauge.RED);
            interactiveGauge.addBackgroundColor(0, 800, goog.ui.Gauge.RED);
          }
          else
          {
            interactiveGauge.setMaximum(100);
            interactiveGauge.addBackgroundColor(0, 30, goog.ui.Gauge.GREEN);  
            interactiveGauge.addBackgroundColor(75, 90, goog.ui.Gauge.YELLOW);
            interactiveGauge.addBackgroundColor(90, 100, goog.ui.Gauge.RED);  
          }
          interactiveGauge.setTitleTop(key);
          interactiveGauge.setTicks(5, 2);
          interactiveGauge.setMajorTickLabels(['Low', '20%', '40%', '60%', '80%', 'High']);
          interactiveGauge.setValue(val, val);
          interactiveGauge.render(document.getElementById('gauges'));
                                                                 
        }

        function drawGauges(ms) {
          for(key in ms)             
          {                                            
           drawGauge(key, ms[key]);
          }                                            
        }


  var device_id = <%= @device.id %>;
  var last_physical_report = <%= @last_report.physical_fields_hash.to_json %>;
  var viz_data =  null;
  var chart_object =  null;
  var chart_options = {
    width: 400, height: 360,
    max: 50,
    greenFrom: 0, greenTo: 20,
    redFrom: 31, redTo: 50,
    yellowFrom:21, yellowTo: 30,
    minorTicks: 5
  };

  function drawChart(data)
  {
    chart_object.draw(data, chart_options);
  }

 function requestLastReport()
  {
    new Ajax.Request('/devices/'+device_id+'/reports/last.json', {
      method: 'GET',
      onSuccess: function(transport){
        var result = transport.responseJSON;
        updateLastReport(result);
                                     } });
  }

  function updateLastReport(data)
{
    var i = 0;                                                                        
    for(key in data)                                                  
         {
          viz_data.setValue(i, 1, data[key]);                                    
          i++;                                                                            
         }    
    drawChart(viz_data);
    document.getElementById('gauges').innerHTML = '';
    drawGauges(data);                     
                                                             
  }

  function initializeUpdater()
  {
    new Ajax.PeriodicalUpdater('device','/devices/'+device_id+'/reports/last', {
      method: 'GET',
      frequency: 10,
      decay: 1,
      parameters: {
        ajax: 1
      }
    });
    setInterval( requestLastReport, 8000);
  }

  google.load('visualization', '1', {packages:['gauge']});
 
  google.setOnLoadCallback(function(){
    var d = viz_data = new google.visualization.DataTable();
    d.addColumn('string', 'Label');
    d.addColumn('number', 'Value');
    for(key in last_physical_report)
    {
      d.addRow([key, last_physical_report[key]]);
    }
    chart_object = new google.visualization.Gauge(document.getElementById('chart_div'));
    drawChart(d);
    initializeUpdater();
    drawGauges(last_physical_report);
                                      });

</script>

<div class="container_12">
  <div class='grig_12' style='vertical-align: bottom;'>
    <h3>  
  <%= image_tag (@device.device_type + '.png') %> 
  Устройство № <%= h @device.device_code %> </h3>
  </div>

   <div class='grid_7' >
   <%= GMap.header %>
   <%= @map.to_html %>
   <%= @map.div(:width => 500, :height => 300) %>
   </div>

   <div class='grid_5' style='text-align: center; border: 1px solid grey;'>
     <b>Параметры датчиков</b>                                     
     <div id='chart_div'> </div>
   </div>

   <div class="clear"></div>

   <div id='device' >
   <%= @fields.reject!{|f| !((f.key.include? 'addr') or (f.key.include? 'ADuC')) } %>
   <%= render :partial => 'reports/fields', :locals => {:fields => @fields }, :layout => false %>
   </div>

   <style>
     .gauges-container {
       border: 1px solid grey;
     }

     .gauges .goog-gauge {
       float:left;
     }

     .cl {
       clear: both;
       height: 0px;
       line-height: 0px;
     }
   </style>

   <div class='gauges-container'>
     <div id='gauges' class='gauges' ></div>
     <p class='cl'/>
   </div>  
</div>
