<table>
  <tr>
    <td style='padding-right:15px;'><b> ID_записи  </b> </td>
    <td style='padding-right:15px;'><b> ID_репорта </b> </td>
    <td style='padding-right:15px;'><b> Параметр   </b></td>
    <td style='padding-right:15px;'><b> Значение  </b> </td>
    <td style='padding-right:15px;'><b> Дата создания  </b> </td>
  </tr> 
<% @report.each do |report| %>
  <tr>
    <td><%= h report.id %>   </td>
    <td><%= h report.report_id %>   </td>
    <td><%= h report.key %>   </td>
    <td><%= h report.value %>   </td>
    <td><%= h report.created_at.strftime('%d %B %Y %a %H:%M') %>   </td>
  </tr>
<% end %>
</table>
