<table>
  <tr>
    <td style='padding-right:15px;'><b> ID_записи  </b> </td>
    <td style='padding-right:15px;'><b> ID_репорта </b> </td>
    <td style='padding-right:15px;'><b> Параметр   </b></td>
    <td style='padding-right:15px;'><b> Значение  </b> </td>
    <td style='padding-right:15px;'><b> Дата создания  </b> </td>
  </tr> 
<% fields.each do |f| %>
  <tr>
    <td><%= h f.id %>   </td>
    <td><%= h f.report_id %>   </td>
    <td><%= h f.key %>   </td>
    <td><%= h f.value %>   </td>
    <td><%= h f.created_at.strftime('%d %B %Y %a %H:%M') %>   </td>
  </tr>
<% end %>
</table>
