<script src="javascripts/raphael.js" type="text/javascript" charset="utf-8"></script> 
<script src="javascripts/g.raphael.js" type="text/javascript" charset="utf-8"></script> 
<script src="javascripts/g.line.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">

 window.onload = function () {
  var r = Raphael("hold");
  var lines = r.g.linechart(10, 10, 340, 220, <%= @report_id_m.to_json %> , 
   <%= @values_m.to_json %>, {nostroke: false, axis: "0 0 1 1", symbol: "o"});
                            };
</script>

<div class='grid_7' >
  Device_id: <%= h params[:id] %>
  <table>
    <tr> 
    <td> Report_id </td>
    <td> Device_id </td>
    <td> Created_at </td>
    </tr> 

   <% @reports.each do |d| %>
    <tr>
    <td> <%= h d.id %></td>
    <td> <%= h d.device_id %></td>
    <td> <%= h d.created_at %></td>
    </tr>
   <% end %>
 </table>

  <table> 
    <tr> 
    <td> Report_id </td>             
    <td> Key </td>             
    <td> Value </td>
    </tr>                            
                        
    <% @keys.each do |d| %>      
    <tr>                             
    <td> <%= h d.report_id %></td>          
    <td> <%= h d.key %></td>   
    <td> <%= h d.value %></td>
    </tr>
    <% end %>
  </table>                           
</div>

<div class='grid_5'>
  <div id="hold"></div>
</div>
